
@model KendoUIMVCGrid.Models.OrderViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid placeholders">
    <div class="row">
        <div class="col-xs-4 col-md-2 placeholder">
            <img class="img-responsive " alt="200x200" src="~/Images/200.png">
        </div>
        <div class="col-xs-10 col-md-3">
            <h2>Lorem ipsum dolor sit amet...</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>

            <p>
                <button class="textButton k-primary">Primary Button</button>
            </p>
        </div>

        <div class="col-xs-10 col-md-3">
            <h2>&nbsp;</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>
            <p>
                <button class="textButton">Button</button>
            </p>

        </div>
        <div class="col-xs-10 col-md-3">
            <h2>&nbsp;</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>

            <p>
                <button class="textButton">Button</button>
            </p>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            @(Html.Kendo().Grid<KendoUIMVCGrid.Models.OrderViewModel>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.OrderID).Width(150).Locked(true).Lockable(false);
                        columns.Bound(o => o.ShipCountry).Width(300);
                        columns.Bound(o => o.ShipCity).Width(300);
                        columns.Bound(o => o.ShipName).Width(300).Locked(true);
                        columns.Bound(o => o.ShipAddress).Width(400).Lockable(false);
                    })
                    .Editable(editable => editable.Mode(GridEditMode.InCell))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(30)
                        .Model(model => model.Id(p => p.OrderID))
                        .Read(read => read.Action("Orders_Read", "Grid"))
                     )
                    .Scrollable(scrollable => scrollable.Height(540))
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Resizable(resizable => resizable.Columns(true))
                   // .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Pageable()
                    .Filterable()
                    .Sortable()
                    .Groupable()
                    .ColumnMenu()
            )
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {


        $("#grid .k-grid-content-locked table").on("keydown", "td", function (e) {
           
            var currentFocusCell = $(e.currentTarget).closest('td');
            var currentFocusRow = $(e.currentTarget).closest('tr');
            var code = (e.keyCode ? e.keyCode : e.which);
            switch (code) {

                case 13:
                    cellFocusDown(currentFocusCell, currentFocusRow);
                    break;
                case 40:
                    cellFocusDown(currentFocusCell, currentFocusRow);
                    break;
            }

        });
        $("#grid .k-grid-content").on("keydown", "td .k-textbox", function (e) {
            
            var currentFocusCell = $(e.currentTarget).closest('td');
            var currentFocusRow = $(e.currentTarget).closest('tr');
            var code = (e.keyCode ? e.keyCode : e.which);
            switch (code) {

                case 13:
                    cellFocusDown(currentFocusCell, currentFocusRow);
                    break;
                case 40:
                    cellFocusDown(currentFocusCell, currentFocusRow);
                    break;
            }

        });
        function cellFocusDown(currentFocusCell, currentFocusRow) {

            var DowntdIndex = currentFocusCell.index();
            var DownNextRow = currentFocusRow.next();
            nextFocusCell = $(DownNextRow).find('td:eq(' + DowntdIndex + ')');
            nextFocusCell.click();
        }
    });

</script>
